/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ---- base ---- */

html,body{
    width:100%;
    height:100%;
    background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}
/* ---- particles.js container ---- */

#particles-js{
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position:relative;
}

.fullPage {
  width: 100%;
  height: 100%;
  background-color: white;
  background-color:#f5f5f5;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.menuSection {
  position: fixed;
  bottom: 0px;
  height:70px;
  width:25%;
  opacity:0.8;
  font-family: 'Fjalla One', sans-serif;
  font-size:40px;
  color:white;
  text-align: center;
}

.menuTitle {
  position:fixed;
  bottom:100px;
  width:25%;
  /*background-color: white;*/
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size:60px;
  opacity:0;
}

.card {
  width:200px;
  border:solid 2px black;
}

/* Set some height to cards */
.card1 {
  height: 250px;
}

.card2 {
  height: 210px;
}

.card3 {
  height: 230px;
}

.card4 {
  height: 250px;
}

.cards {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  /* bring your own prefixes*/
  transform: translate(0%, -50%);
}

.aboutMe {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  color: #000000;
  line-height: 35px;
}

.container {
  position:relative;
  top:50%;
  transform: translate(0%, -50%);
}

.profilePicture {
  width:250px;
  height:250px;
  border-radius:50%;
  border: 5px solid #000000;
  position:relative;
  left:50%;
  transform: translate(-50%, 0%);
  margin:10px;
}

/*needed to make container opacity 0*/
element.style {
  opacity:0;
}

#name {
  font-size: 46px;
  color: #000000;
}

#tagline {
  font-size: 40px;
  color: #000000;
}

#about {
  background-color: #43347C;
}

#aboutTitle {
  color:  #43347C;
}

#aboutHover {
  transform:translate(0%, 20%);
  visibility:hidden;
}

#about:hover #aboutHover {
  visibility:visible;
}

#software {
  background-color: #1B976C;
  left:25%;
}

#softwareTitle {
  color: #1B976C;
  left:25%;
}

#softwareHover {
  transform:translate(0%, 20%);
  visibility:hidden;
}

#software:hover #softwareHover {
  visibility: visible;
}

#hardware {
  background-color:  #F5A623;
  left:50%;
}

#hardwareTitle {
  color:  #F5A623;
  left:50%;
}

#hardwareHover {
  transform:translate(0%, 20%);
  visibility:hidden;
}

#hardware:hover #hardwareHover {
  visibility: visible;
}

#contact {
  background-color:  #C82541;
  left:75%;
}

#contactTitle {
  color:  #C82541;
  left:75%;
}

#contactHover {
  transform:translate(0%, 20%);
  visibility:hidden;
}

#contact:hover #contactHover {
  visibility: visible;
}

#michiCard {
  background: url("/img/michi.png") center;
  background-size: cover;
}

#convnetCard {
  background: url("/img/convnet.png") center;
  background-size: cover;
}

#joggerCard {
  background: url("/img/jogger.png") center;
  background-size: cover;
}

#wamCard {
  background: url("/img/wam.png") center;
  background-size: cover;
}

#promptuCard {
  background: url("/img/promptu.png") center;
  background-size: cover;
}

#starshipCard {
  background: url("/img/starship.png") center;
  background-size: cover;
}

#smartmouseCard {
  background: url("/img/smartmouse.png") center;
  background-size: cover;
}

#michiganCard {
  background: url("/img/michigan.png") center;
  background-size: cover;
}

/* Smartphones ----------- */
@media only screen and (max-width : 767px) {

  .title {
      top: 30%;
    }

  #name {
    font-size: 34px;
    color: #000000;
  }

  #tagline {
    font-size: 30px;
    color: #000000;
  }

  .fullPage {
    height:120vh;
  }

  .softwarePage {
    height:180vh;
  }

  .hardwarePage {
    height:120vh;
  }

  .card {
    width:160px;
  }

  .menuSection {
    visibility:hidden;
  }

  .menuTitle {
    visibility:hidden;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  #aboutHover {
  visibility:visible;
  }

  #softwareHover {
  visibility:visible;
  }

  #hardwareHover {
  visibility:visible;
  }

  #contactHover {
  visibility:visible;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
